{% extends "base.html" %}

{% block title %}Power Grid City Tracker{% end %}

{% block body %}
<div class="col-md-4">
<h3>Pending Purchase</h3>
    <ul id="pendinglist" class="list-unstyled"></ul>
    <h3 id="cost">Cost: 0</h3>
    <button id="btn-submit" type="button" class="btn btn-default">Submit</button>
</div>
<div class="col-md-4">
    <h3>Board <button id="btn-clear" type="button" class="btn btn-danger">Clear Board</button></h3>
    <ul id="citylist" class="list-unstyled"></ul>
</div>
<div class="col-md-4">
    <h3> Players: </h3>

    <div>
        <ul id='playerlist' class="list-unstyled">
        </ul>
    </div>
</div>

{% end %}
